.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 2px 4px 0 var(--box-shadow-color);
}

.themeBtn {
    cursor: pointer;
}