.container {
    text-align: center;
}

.container h1 {
    color: var(--onbg-color);
}

.linkBtn {
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--onprimary-color);
}