.modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    background-color: var(--bg-color);
    border: 2px solid #000;
    border: none;
    border-radius: 5px;
    overflow-y: scroll;
  }

  .title {
    text-align: center;
    color: var(--onsurface-color);
  }

  .modalContainer > div {
    width: 100%;
    height: 100%;
    padding-top: 10px;
  }

  .priorityCircle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .calendarEvent {
    height: 60px;
    overflow-y: hidden;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--onsurface-color);
    margin: 10px;
    margin-top: 0;
  }

  .expandedCalendarEvent {
    height: fit-content;
    overflow-y: hidden;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--onsurface-color);
    margin: 10px;
    margin-top: 0;
  }

  .expandLessIcon {
    transform: rotate(180deg);
  }

  .modalTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modalTitleContainer h2 {
    color: var(--onsurface-color);
  }

  .notificationBell {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: block;
    -webkit-animation: ring 3s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 3s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 3s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
  }

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rightTitleContainer {
    display: flex;
    align-items: center;
  }

  .infoContainer {
    padding-left: 10px;
  }

  
  @-webkit-keyframes ring {
    0% {
      -webkit-transform: rotateZ(0);
    }
  
    1% {
      -webkit-transform: rotateZ(30deg);
    }
  
    3% {
      -webkit-transform: rotateZ(-28deg);
    }
  
    5% {
      -webkit-transform: rotateZ(34deg);
    }
  
    7% {
      -webkit-transform: rotateZ(-32deg);
    }
  
    9% {
      -webkit-transform: rotateZ(30deg);
    }
  
    11% {
      -webkit-transform: rotateZ(-28deg);
    }
  
    13% {
      -webkit-transform: rotateZ(26deg);
    }
  
    15% {
      -webkit-transform: rotateZ(-24deg);
    }
  
    17% {
      -webkit-transform: rotateZ(22deg);
    }
  
    19% {
      -webkit-transform: rotateZ(-20deg);
    }
  
    21% {
      -webkit-transform: rotateZ(18deg);
    }
  
    23% {
      -webkit-transform: rotateZ(-16deg);
    }
  
    25% {
      -webkit-transform: rotateZ(14deg);
    }
  
    27% {
      -webkit-transform: rotateZ(-12deg);
    }
  
    29% {
      -webkit-transform: rotateZ(10deg);
    }
  
    31% {
      -webkit-transform: rotateZ(-8deg);
    }
  
    33% {
      -webkit-transform: rotateZ(6deg);
    }
  
    35% {
      -webkit-transform: rotateZ(-4deg);
    }
  
    37% {
      -webkit-transform: rotateZ(2deg);
    }
  
    39% {
      -webkit-transform: rotateZ(-1deg);
    }
  
    41% {
      -webkit-transform: rotateZ(1deg);
    }
  
    43% {
      -webkit-transform: rotateZ(0);
    }
  
    100% {
      -webkit-transform: rotateZ(0);
    }
  }
  
  @-moz-keyframes ring {
    0% {
      -moz-transform: rotate(0);
    }
  
    1% {
      -moz-transform: rotate(30deg);
    }
  
    3% {
      -moz-transform: rotate(-28deg);
    }
  
    5% {
      -moz-transform: rotate(34deg);
    }
  
    7% {
      -moz-transform: rotate(-32deg);
    }
  
    9% {
      -moz-transform: rotate(30deg);
    }
  
    11% {
      -moz-transform: rotate(-28deg);
    }
  
    13% {
      -moz-transform: rotate(26deg);
    }
  
    15% {
      -moz-transform: rotate(-24deg);
    }
  
    17% {
      -moz-transform: rotate(22deg);
    }
  
    19% {
      -moz-transform: rotate(-20deg);
    }
  
    21% {
      -moz-transform: rotate(18deg);
    }
  
    23% {
      -moz-transform: rotate(-16deg);
    }
  
    25% {
      -moz-transform: rotate(14deg);
    }
  
    27% {
      -moz-transform: rotate(-12deg);
    }
  
    29% {
      -moz-transform: rotate(10deg);
    }
  
    31% {
      -moz-transform: rotate(-8deg);
    }
  
    33% {
      -moz-transform: rotate(6deg);
    }
  
    35% {
      -moz-transform: rotate(-4deg);
    }
  
    37% {
      -moz-transform: rotate(2deg);
    }
  
    39% {
      -moz-transform: rotate(-1deg);
    }
  
    41% {
      -moz-transform: rotate(1deg);
    }
  
    43% {
      -moz-transform: rotate(0);
    }
  
    100% {
      -moz-transform: rotate(0);
    }
  }
  
  @keyframes ring {
    0% {
      transform: rotate(0);
    }
  
    1% {
      transform: rotate(30deg);
    }
  
    3% {
      transform: rotate(-28deg);
    }
  
    5% {
      transform: rotate(34deg);
    }
  
    7% {
      transform: rotate(-32deg);
    }
  
    9% {
      transform: rotate(30deg);
    }
  
    11% {
      transform: rotate(-28deg);
    }
  
    13% {
      transform: rotate(26deg);
    }
  
    15% {
      transform: rotate(-24deg);
    }
  
    17% {
      transform: rotate(22deg);
    }
  
    19% {
      transform: rotate(-20deg);
    }
  
    21% {
      transform: rotate(18deg);
    }
  
    23% {
      transform: rotate(-16deg);
    }
  
    25% {
      transform: rotate(14deg);
    }
  
    27% {
      transform: rotate(-12deg);
    }
  
    29% {
      transform: rotate(10deg);
    }
  
    31% {
      transform: rotate(-8deg);
    }
  
    33% {
      transform: rotate(6deg);
    }
  
    35% {
      transform: rotate(-4deg);
    }
  
    37% {
      transform: rotate(2deg);
    }
  
    39% {
      transform: rotate(-1deg);
    }
  
    41% {
      transform: rotate(1deg);
    }
  
    43% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(0);
    }
  }