.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    text-decoration: none;
    color: var(--onsurface-color);
}

.link {
    text-decoration: none;
}

.container ul {
    display: flex;
    flex-wrap: wrap;
}

.container li {
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
    color: var(--onsurface-color);
}

.themeBtn {
    cursor: pointer;
    background-color: var(--surface-color) !important;
}

.activeThemeBtn {
    opacity: 0.5;
}

.selectField {
    color: var(--onsurface-color);
    border-radius: 5px;
    padding: 5px 10px;
}