.selectField {
    color: var(--onsurface-color);
    border-radius: 5px;
    padding: 5px 10px;
}

.themeBtn {
    cursor: pointer;
    background-color: var(--surface-color) !important;
}

.activeThemeBtn {
    opacity: 0.5;
}